<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Welcome to Commodity Sampler Services</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Bilbo" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/style.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  <!-- jQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script
  src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"
  type="text/javascript"></script>


</head>

<body>

	<div class="row" id="toprow">
		<div class="twelve columns">
			<div class="row" id="orange">
				<div class="container">
					<h1 id="maintitle">Commodity Sampler Services LLC</h1>
				</div>
			</div>
			<div class="row" id="red"></div>
			<div class="row">
				<div class="container">
					<div class="twelve columns" id="navigation">
						<button id="homeButton">Home</button><button id="ourServicesButton">Our Services</button><button  id="aboutUsButton">About Us</button><button  id="contactButton">Contact</button><button  id="orderButton">Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{{body}}}


	<div class="row" id="bottomrow">
		<div class="twelve columns">
			<div class="row" id="red"></div>
			<div class="row" id="orange">
				<div class="container">
					<p id="baseline">Integrity through independence</p>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script src="./assets/javascript/index.js"></script>
</html>